body {
    color: darkslategray;
    /* background-color: rgba(27, 49, 49, 1);
    color: gainsboro; */
}

a {
    color: slategray;
}

a:hover{
    color: darkslategray;
}

input.invalid {
    border-color: crimson;
}

textarea.invalid {
    border-color: crimson;
}

input.valid {
    border-color: limegreen;
}

textarea.valid {
    border-color: limegreen;
}

.card{
    border-radius: 0.6rem;
    border-color: rgba(47, 79, 79, 0.1);
    box-shadow: 0px 0px 4px rgba(47, 79, 79, 0.4);
}

.navbar-light .navbar-nav .nav-link {
    border: 1px solid rgba(47, 79, 79, 0);
    transition: .4s;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(47, 79, 79, 0.7);
    border-bottom: 1px solid rgba(47, 79, 79, 0.7);
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(47, 79, 79, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: rgba(47, 79, 79, 1);
}

.form-light {
    box-shadow: 0px 0px 4px rgba(47, 79, 79, 0.0);
}

.form-light:hover{
    box-shadow: 0px 0px 4px rgba(47, 79, 79, 0.1);
}

.form-light:focus{
    border: 1px solid rgba(47, 79, 79, 0.3);
    box-shadow: 0px 0px 4px rgba(47, 79, 79, 0.3);
}

.part{
    overflow: hidden;
    height: auto;
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
}

.part.collapsing{
    max-height: 0;
}

.part.extending{
    max-height: 1000px;
}