{% extends "frame.html" %}

{% block title %} 
Test 2 | Dyslexia Screening Test
{% endblock %}

{% block content %}
<h1 class="my-4">Test 2</h1>

<div class="card">
    <div class="card-body">
        <h3>Instruksi</h3>
        <p>
            Di halaman ini akan terdapat 
        </p>
    </div>
</div>

{% endblock %} 

{% block scripts %} 
<script src="static/js/Dyslexia-test-1.js"></script>
{% endblock %}