{% extends "frame.html" %}

{% block title %} 
{% endblock %}

{% block content %}
<div class="text-center">
    <h3 class="mt-5 mb-3">Error!</h3>
    <p class="mb-3">Anda belum melakukan <b>Test 1</b>. Mohon isi dulu <b>Test 1</b> untuk melanjutkan ke <b>Test 2</b>.</p>
    <a type="button" class="btn btn-success" href="{{ url_for('Dyslexia_page_1') }}">Ke Test 1</a>
</div>

{% endblock %}