{% extends "frame.html" %}

{% block title %} 
Test 1 | Dyslexia Screening Test
{% endblock %}

{% block content %}
<h1 class="my-4">Dyslexia Screening Test</h1>
<p class="mb-1">Selamat datang di halaman Screening Test untuk mengetahui Dyslexia!</p>
<p class="mt-1 mb-4">Sebelum memulai, tolong masukkan nama dan umur anda terlebih dahulu!</p>

<form autocomplete="off">
    <input type="text" name="PageNumber" value="page1" hidden>
    <input type="text" name="SessionID" value="{{ data.data.SessionID }}" hidden>
    <div class="row m-2">
        <div class="col-2">
            <label for="inputnama" class="form-label">
                Nama:
            </label>
        </div>
        <div class="col-4">
            <input type="text" class="form-control form-light" id="inputnama" name="Nama" minlength="4" required>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label for="inputumur" class="form-label">
                Umur:
            </label>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input type="number" class="form-control form-light" id="inputumur" name="Umur" min=5 max=100 required>
                <span class="input-group-text">Tahun</span>
            </div>
        </div>
    </div>
    
    <h5 class="mt-5">Ketikkan kembali huruf di bawah ini ke dalam kotak yang disediakan</h5>
    <div class="row m-2">
        <div class="col-3">
            <img src="img.jpg" id="g1">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j1" name="inputg1" required>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-3">
            <img src="img.jpg" id="g2">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j2" name="inputg2" required>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-3">
            <img src="img.jpg" id="g3">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j3" name="inputg3" required>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-3">
            <img src="img.jpg" id="g4">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j4" name="inputg4" required>
        </div>
    </div>
    <div class="form-text" id="teksrefresh">* refresh halaman kalo tidak muncul gambar</div>

    <div class="row m-2">
        <div class="col-8">
            <button type="submit" class="btn btn-success float-end" id="submitbtn">
                <i class="fas fa-arrow-circle-right"></i>
                Lanjutkan
            </button>
            <a type="button" class="btn btn-light float-end me-3" id="refresh">
                <i class="fas fa-sync"></i>
                Refresh
            </a>   
        </div>
    </div>
</form>
<div class="modal fade" id="mymodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Masukan anda telah dikirimkan!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light">Lanjut</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %} 
<script src="static/js/Dyslexia-page-1.js"></script>
{% endblock %}