{% extends "frame.html" %}

{% block title %} 
{% endblock %}

{% block content %}
<h1 class="my-4">Dyslexia Screening Test</h1>
<p class="mb-1">Lanjutkan di halaman 3 Screening Test ini!</p>

<form autocomplete="off">
    <input type="text" name="PageNumber" value="page3" hidden>
    <input type="text" name="SessionID" value="{{ data.data.SessionID }}" hidden>
    <input type="text" name="Nama" value="{{ data.data.Nama }}" hidden>
    <p>Hai <strong>{{ data.data.Nama }}</strong>, Silahkan dilanjutkan Test 3 berikut ini.</p>
    
    <hr>
    <h5>Ketikkan kembali huruf di bawah ini ke dalam kotak yang disediakan</h5>
    <div class="row m-2">
        <div class="col-5">
            <img src="img.jpg" id="g1">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j1" name="inputg1" required>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-5">
            <img src="img.jpg" id="g2">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j2" name="inputg2" required>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-5">
            <img src="img.jpg" id="g3">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j3" name="inputg3" required>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-5">
            <img src="img.jpg" id="g4">
        </div>
        <div class="col-5">
            <input type="text" class="form-control form-light" id="j4" name="inputg4" required>
        </div>
    </div>
    <div class="form-text" id="teksrefresh">* refresh halaman kalo tidak muncul gambar</div>

    <div class="row m-2">
        <div class="col-10">
            <button type="submit" class="btn btn-success float-end">
                <i class="fas fa-arrow-circle-right"></i>
                Lanjutkan
            </button>
            <a type="button" class="btn btn-light float-end me-3" id="refresh">
                <i class="fas fa-sync"></i>
                Refresh
            </a>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %} 
<script src="static/js/Dyslexia-page-3.js"></script>
{% endblock %}