{% extends "frame.html" %}

{% block title %} 
Test 1 | Dyslexia Screening Test
{% endblock %}

{% block content %}
<h1 class="my-4">Dyslexia Screening Test</h1>
<p class="my-4">
    Selamat datang di halaman ini. Di halaman ini anda akan menjalani test 
    Screening untuk mengetahui apakah terjadi Dyslexia pada diri anda.
</p>

<div class="card" id="instruksi-content">
    <div class="card-body">
        <div id="identitas" class="part">
            <h3 class="card-title">Identitas anda</h3>
            <form autocomplete="off">
                <div class="">
                    <strong>Masukkan nama dan umur anda:</strong>
                </div>
                <div class="row my-2">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control form-light" id="nama" placeholder="Nama">
                            <label for="nama">Nama anda</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-floating">
                            <input type="number" class="form-control form-light" id="umur" placeholder="5-20">
                            <label for="umur">Umur (tahun)</label>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex">
                        <button type="button" class="btn btn-success btn-lg" id="identitassubmit">Mulai tes</button>
                    </div>
                </div>
                
            </form>
        </div>
        <div class="part collapsing" id="instruksi">
            <h3 class="card-title">Instruksi Pengerjaan</h3>
            <div class="row mb-4">
                <div class="col-auto col-sm-12 col-md-4 m-auto">
                    <strong>Isi sesuai huruf yang ditampilkan:</strong>
                </div>
                <div class="col-sm-12 col-md-8 mt-2">
                    <div class="row">
                        <div class="col-3 text-center">
                            a b
                        </div>
                        <div class="col-3 text-center">
                            c d
                        </div>
                        <div class="col-3 text-center">
                            e f
                        </div>
                        <div class="col-3 text-center">
                            g h
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-3">
                            <input type="text" class="form-control text-center form-control-sm form-light" id="ex1" value="ab"></input>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control text-center form-control-sm form-light" id="ex2" value="cd"></input>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control text-center form-control-sm form-light" id="ex3" value="ef"></input>
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control text-center form-control-sm form-light" id="ex4" value="gh"></input>
                        </div>
                    </div>
                    <button type="button" class="float-end mt-2 btn btn-success" id="close-instruction">Oke paham</button>
                </div>
            </div>
        </div>
    </div>
</div>

<audio controls>
    <source src="{{ url_for('api_audio1') }}" type="audio/mpeg">
    Browser anda tidak mensupport audio
</audio>

<div class="collapse" id="soal">
    <h3 class="my-4">Soal</h3>
    <div class="row mb-4" id="soalno1">
        <div class="col-auto col-sm-12 col-md-4 m-auto">
            <strong>1. Isi 2 digit teks di samping</strong>
            <div class="col-3 text-center" id="audio1">
                <audio controls>
                    <source src="" type="audio/mpeg" id="audio1src">
                    Browser anda tidak mensupport audio
                </audio>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 mt-2">
            <div class="row">
                <div class="col-3 text-center" id="soal1a">Teks1</div>
                <div class="col-3 text-center" id="soal1b">Teks2</div>
                <div class="col-3 text-center" id="soal1c">Teks3</div>
                <div class="col-3 text-center" id="soal1d">Teks4</div>
            </div>
            <div class="row mb-2">
                <div class="input-group text-center">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb1a">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb1b">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb1c">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb1d">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <button class="btn btn-success float-end" id="submit1">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4" id="soalno2" hidden>
        <div class="col-auto col-sm-12 col-md-4 m-auto">
            <strong>2. Isi 3 digit teks di samping</strong>
        </div>
        <div class="col-sm-12 col-md-8 mt-2">
            <div class="row">
                <div class="col-3 text-center" id="soal2a">
                    Teks 2
                </div>
                <div class="col-3 text-center" id="soal2b">
                    Teks 2
                </div>
                <div class="col-3 text-center" id="soal2c">
                    Teks 2
                </div>
                <div class="col-3 text-center" id="soal2d">
                    Teks 2
                </div>
            </div>
            <div class="row mb-2">
                <div class="input-group text-center">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb2a">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb2b">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb2c">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb2d">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <button class="btn btn-success float-end" id="submit2">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4" id="soalno3" hidden>
        <div class="col-auto col-sm-12 col-md-4 m-auto">
            <strong>3. Isi 4 digit teks di samping</strong>
        </div>
        <div class="col-sm-12 col-md-8 mt-2">
            <div class="row">
                <div class="col-3 text-center" id="soal3a">
                    Teks 3
                </div>
                <div class="col-3 text-center" id="soal3b">
                    Teks 3
                </div>
                <div class="col-3 text-center" id="soal3c">
                    Teks 3
                </div>
                <div class="col-3 text-center" id="soal3d">
                    Teks 3
                </div>
            </div>
            <div class="row mb-2">
                <div class="input-group text-center">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb3a">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb3b">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb3c">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb3d">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <button class="btn btn-success float-end" id="submit3">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4" id="soalno4" hidden>
        <div class="col-auto col-sm-12 col-md-4 m-auto">
            <strong>4. Isi 5 digit teks di samping</strong>
        </div>
        <div class="col-sm-12 col-md-8 mt-2">
            <div class="row">
                <div class="col-3 text-center" id="soal4a">
                    Teks 4
                </div>
                <div class="col-3 text-center" id="soal4b">
                    Teks 4
                </div>
                <div class="col-3 text-center" id="soal4c">
                    Teks 4
                </div>
                <div class="col-3 text-center" id="soal4d">
                    Teks 4
                </div>
            </div>
            <div class="row mb-2">
                <div class="input-group text-center">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb4a">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb4b">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb4c">
                    <input type="text" class="form-control form-control-sm form-light" id="jwb4d">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col">
                    <button class="btn btn-success float-end" id="submit4">Submit</button>
                    <a type="button" class="btn btn-success float-end" href="{{ url_for('Dyslexia_page_2') }}" id="nextpage" hidden>Lanjut</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body m-auto" id="ModalContent">
                <img src="" id="modalImg" height="100px" width="100px">
                <span class="text-center" id="scoretext"></span>
            </div>
            <div class="modal-footer" hidden>
                <a type="button" class="btn btn-danger" data-bs-dismiss="modal" href="{{ url_for('Dyslexia_page_2') }}" id="nextpage1" hidden>Lanjut ke halaman berikutnya</a>
            </div>
        </div>
    </div>
  </div>

{% endblock %}

{% block scripts %} 
<script src="static/js/Dyslexia-test-1.js"></script>
{% endblock %}