{% extends "frame.html" %}

{% block title %} 
Finished | Dyslexia Screening Test
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="mt-5 mb-3">
        <i class="fas fa-check-circle"></i>
        Selesai!
    </h1>
    <p class="mb-3">Test anda sudah selesai. Klik tombol di bawah ini untuk melakukan test lain.</p>
    <a type="button" class="btn btn-light" href="{{ url_for('Dyslexia_page_1') }}">Kembali Ke Test 1</a>
</div>
{% endblock %}