<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{% block title %}Dyse: Dyslexia Screening Calculator Online{% endblock %}</title>
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>

    <!-- App css -->
    <link href="static/css/jquery-ui.css" rel="stylesheet">
    <link href="static/css/fa-all.css" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/myapp.css" rel="stylesheet">
    
    {% if 0 %}
    <!-- Cuma untuk IntelliSense -->
    <link href="../static/css/jquery-ui.css" rel="stylesheet">
    <link href="../static/css/fa-all.css" rel="stylesheet">
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/myapp.css" rel="stylesheet">
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" style="color: darkslategray;" href="/">
                <!-- <i class="fab fa-gitter"></i> -->
                <img src="/static/favicon2.ico" alt="" width="30" height="30">
                Dyse
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        {% if request.path == "/" or request.path == url_for('Dyslexia_page_1') %}
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        {% else %}
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if request.path == "/settings" %}
                        <a class="nav-link active" aria-current="page" href="{{ url_for('settings_page') }}">Settings</a>
                        {% else %}
                        <a class="nav-link" aria-current="page" href="{{ url_for('settings_page') }}">Settings</a>
                        {% endif %}
                        
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                {% if data %} 
                <span class="small me-2 align-bottom">Session ID: </span><span class="small me-2 align-bottom" id="sessionid">{{ data.data.SessionID }}</span>
                {% endif %}
                <a type="button" class="btn btn-success" href="/login">Log In</a>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% if data.message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ data.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>

    {% block earlyscript %}{% endblock %}

    <!-- Scripts -->
    <script src="static/js/jquery-3.6.0.min.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src='static/js/bootstrap.bundle.min.js'></script>
    <script src="static/js/fa-all.min.js"></script>

    {% block scripts %}{% endblock %}
</body>
</html>