{% extends "frame.html" %}

{% block title %} 
{% endblock %}

{% block content %}
<h1 class="my-4">Dyslexia Screening Test</h1>
<p>Hi! In this page you will do a screening session to determining whether you are 
    dyslexia or not.
</p>
<form>
    <div class="row m-2">
        <div class="col-1">
            <label class="col-form-label">Name</label>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" id="Name" name="Name">
        </div>
    </div>
    <div class="row m-2">
        <div class="col-1">
            <label class="col-form-label">Age</label>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <input type="number" class="form-control" id="Age" name="Age">
                <span class="input-group-text">Years old</span>
            </div>
        </div>
    </div>
    <div class="row d-flex">
        <div class="col-6">
            <!-- <label for="abjadurut">Write the alphabets <b>A</b> to <b>Z</b> in order</label> -->
            <div id="messenger">messenger</div>
            <textarea class="form-control" id="abjadurut" name="abjadurut" style="height:200px"></textarea>
        </div>
        <div class="col-6">
            <h5>Write the text shown on the left side</h5>
            <div class="row py-2">
                <div class="col-5">
                    <img src="static/images/image.jpg" id="image1">
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" id="inputimage1">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-5">
                    <img src="static/images/image.jpg" id="image2">
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" id="inputimage2">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-5">
                    <img src="static/images/image.jpg" id="image3">
                </div>
                <div class="col-7">
                    <input type="text" class="form-control" id="inputimage3">
                </div>
            </div>
            <div class="">
                <a type="button" class="btn btn-danger float-end" id="submittext">Submit</a>
                <a type="button" class="btn btn-success float-end me-3" id="refreshtext">
                    <i class="fas fa-sync"></i> Refresh
                </a>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-6">
            <h5>Write the word shown on the left side</h5>
            <div class="row py-2">
                <div class="col-6">
                    <img src="static/images/image.jpg" id="imageword1">
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputword1">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6">
                    <img src="static/images/image.jpg" id="imageword2">
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputword2">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6">
                    <img src="static/images/image.jpg" id="imageword3">
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputword3">
                </div>
            </div>
        </div>
        <div class="col-6">
            <h5>Guess the name of the image on the left</h5>
            <div class="row py-2">
                <div class="col-6">
                    <img src="static/images/image.jpg" id="imagerandom1" width=70 height=70>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputimage1">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6">
                    <img src="static/images/image.jpg" id="imagerandom2" width=70 height=70>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputimage2">
                </div>
            </div>
            <div class="row py-2">
                <div class="col-6">
                    <img src="static/images/image.jpg" id="imagerandom3" width=70 height=70>
                </div>
                <div class="col-6">
                    <input type="text" class="form-control" id="inputimage3">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="static/js/myapp.js"></script>
{% endblock %}