{% extends "frame.html" %} 

{% block content %} 

<div class="container" style="width: 400px;">
    <div class="card">
        <div class="card-body mx-2 my-5">
            <h3 class="text-center pt-4" style="color: darkslategray">
                <i class="fab fa-3x fa-envira"></i>
            </h3>
            <form>
                <label for="userid" class="form-label mt-3">Username:</label>
                <input type="text" class="form-control form-text" id="userid" name="userid">
                <label for="userpass" class="form-label mt-3">Password:</label>
                <input type="password" class="form-control" id="userpass" name="userpass">
                <a class="small" href="#">Lupa password?</a>
                <hr class="mt-5">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success">Gas</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}