{% extends "frame.html" %}

{% block title %} 
Settings | Dyslexia Screening Test
{% endblock %}

{% block content %}
<h2>Settings page</h2>
<h4>Page Settings</h4>

<form>
    <div class="row">
        <div class="col-10 m-auto">
            {% if data %}
            {% for i in range(data.data['keys']|length) %}
            <dl class="row mt-4">
                <dd class="col-sm-3">{{ data.data['keys'][i] }}:</dd>
                <dd class="col-sm-9">
                    {% if data.data['types'][i] == 'textarea' %}
                    <textarea class="form-control form-light" style="height: 140px;" name="{{ data.data['keys'][i] }}">{{ data.data['values'][i] }}</textarea>
                    {% elif data.data['types'][i] == 'inputtext' %}
                    <input type="text" class="form-control form-light" value="{{ data.data['values'][i] }}" name="{{ data.data['keys'][i] }}">
                    {% elif data.data['types'][i] == 'checkbox' %}
                    <select class="form-select form-light" name="{{ data.data['keys'][i] }}">
                        <option value="True" {% if data.data['values'][i] == 'True' %}selected{% endif %}>Ya</option>
                        <option value="False" {% if data.data['values'][i] == 'False' %}selected{% endif %}>Tidak</option>
                    </select>
                    {% else %}
                    <input type="text" class="form-control form-light" value="{{ data.data['values'][i] }}" name="{{ data.data['keys'][i] }}">
                    {% endif %}
                </dd>
            </dl>   
            {% endfor %} 
            {% endif %}
            <div class="float-end">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
    <hr class="my-5">
</form>

{% endblock %}